body {
  font-family: 'Roboto', sans-serif;
  background-color: #f1f1f1 !important;
}

.hidden {
  display: none;
}

.active {
  display: block;
}

#counter {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 450px;
  min-width: 450px;
  height: 650px;
  padding: 50px 70px;
  background-color: #fff;
  border: 1px solid #dededf;
}

#counter .title {
  text-align: center;
  font-size: 22pt;
}

#counter .row {
  position: relative;
  padding: 20px 10px;
  text-align: center;
}

#counter .segment {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  width: 120px;
  height: 120px;
  border: none;
  background-color: #d8d8d8;
}

#counter .segment .label {
  top: 2%;
}

#counter .segment input {
  display: block;
  transform: translate(25%, 50%);
  width: 60px;
  border: none;
  background-color: #d8d8d8;
  text-align: center;
}

#counter .segment input:focus {
  outline: none;
}

#counter .calculate,
#counter .input {
  margin-top: 25px;
}

#counter input,
#counter button {
  font-size: 18pt;
}

#counter input {
  text-align: right;
}
