body {
  font-family: 'Roboto', sans-serif;
  background-color: #f1f1f1 !important;
}

.hidden {
  display: none;
}

.active {
  display: block;
}

#counter {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 600px;
  height: 680px;
  padding: 50px 70px;
  background-color: #fff;
  border: 1px solid #dededf;
}

#counter .title {
  text-align: center;
  font-size: 22pt;
}

#counter .grid {
  width: 80%;
  margin: auto;
}

#counter .row {
  padding: 20px 10px;
  text-align: center;
}

#counter .segment {
  display: inline-block;
  width: 120px;
  height: 120px;
  margin: auto;
  border: none;
  background-color: #d8d8d8;
}

#counter .segment .label {
  top: 2%;
}

#counter .segment input {
  display: block;
  transform: translate(25%, 50%);
  width: 60px;
  border: none;
  background-color: #d8d8d8;
  text-align: center;
}

#counter .segment input:focus {
  outline: none;
}

#counter .calculate,
#counter .input {
  margin-top: 25px;
}

#counter input,
#counter button {
  font-size: 18pt;
}

#counter input {
  text-align: right;
}

@media screen and (max-device-width: 900px) {
  #counter {
    width: 500px;
    padding: 60px 80px;
  }

  #counter .grid {
    width: 325px;
  }
}

@media screen and (max-device-width: 480px), screen and (max-device-height: 580px)  {
  #counter {
    transform: translate(-54%, -50%);
    width: 400px;
    height: 500px;
    padding: 20px 30px;
  }

  #counter .title {
    margin-bottom: 10px;
  }

  #counter .grid {
    width: 260px;
  }

  #counter .row {
    padding: 5px 0;
  }

  #counter .calculate,
  #counter .input {
    margin-top: 10px;
  }
}
