body {
  font-family: 'Roboto', sans-serif;
  background-color: #f1f1f1 !important;
}

.hidden {
  display: none !important;
}

.active {
  display: block !important;
}

#counter {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 500px;
  height: 620px;
  padding: 40px 60px;
  background-color: #fff;
  border: 1px solid #dededf;
}

#counter .title {
  text-align: center;
  font-size: 22pt;
}

#counter .grid {
  margin: auto;
}

#counter .row {
  text-align: center;
}

#counter .segment {
  display: inline-block;
  width: 120px;
  height: 120px;
  margin: auto;
  border: none;
  background-color: #d8d8d8;
}

#counter .segment .label {
  top: 2%;
}

#counter .segment input {
  display: block;
  transform: translate(25%, 50%);
  width: 60px;
  border: none;
  background-color: #d8d8d8;
  text-align: center;
}

#counter .segment input:focus {
  outline: none;
}

#counter .calculate,
#counter .input {
  margin-top: 25px;
}

#counter input,
#counter button {
  font-size: 18pt;
}

#counter input {
  text-align: right;
}

@media screen and (min-width: 1300px) {
  #counter {
    width: 650px;
    height: 650px;
  }

  #counter .row {
    padding: 20px 20px;
  }
}

@media screen and (max-width: 780px), screen and (max-height: 800px)  {
  #counter {
    width: 400px;
    height: 500px;
    padding: 20px 30px;
  }

  #counter .title {
    margin-bottom: 10px;
  }

  #counter .grid {
    width: 260px;
  }

  #counter .row {
    padding: 5px 0;
  }

  #counter .calculate,
  #counter .input {
    margin-top: 10px;
  }
}

@media screen and (max-height: 580px) {
  #counter {
    width: 300px;
    height: 410px;
    padding: 10px 20px;
  }

  #counter .input {
    height: 40px;
  }

  #counter .segment {
    width: 100px;
    height: 100px;
  }

  #counter .segment input {
    transform: translate(10%, 40%);
  }

  #counter .title {
    font-size: 18pt;
  }

  #counter input,
  #counter button,
  #counter .segment .label {
    font-size: 14pt;
  }
}

@media screen and (max-width: 400px) {
  #counter {
    transform: translate(-55%, -50%);
  }
}

#mocha-stats {
  top: 25px;
}
