body {
  font-family: 'Roboto', sans-serif;
  background-color: #f1f1f1 !important;
}

#counter {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 650px;
  min-width: 400px;
  padding: 50px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #dededf;
}

#counter .title {
  text-align: center;
  font-size: 18pt;
}

#counter .row {
  position: relative;
  padding: 20px;
  text-align: center;
}

#counter .segment {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  width: 120px;
  height: 120px;
  border: none;
  background-color: #d8d8d8;
}

#counter .segment.one {
  margin-right: 10px;
}

#counter .segment.two {
  margin-left: 10px;
}

#counter .segment input {
  display: block;
  transform: translate(50%, 60%);
  width: 32px;
  border: none;
  background-color: #d8d8d8;
  text-align: center;
}

#counter .segment input:focus {
  outline: none;
}

#counter .calculate,
#counter .input {
  margin-top: 20px;
}

#counter input,
#counter button {
  font-size: 18pt;
}

#counter input {
  text-align: right;
}

#counter .test {

}
